{% extends "base.html" %}
{% load blog_tags %}

{% block title %}博客{% endblock title %}

{% block content %}

<section id="profile" class="item">
    <h2 class="item-title"><a href="{%url 'home'%}"><span class="title">个人资料</span><span class="icon-user"></span></a></h2>
    <div class="item-border"><span></span></div>
</section><!-- /#profile -->

<section id="blog" class="item">
    <h2 class="item-title"><a href="#"><span class="title">博客列表</span> <span class="icon-blog"></span></a></h2>

    <div class="item-cont clearfix">

        <div class="col535 fl-left">
            {% for post in posts %}
                <article class="entry-box">
                    <header class="entry-header">
                        <h2 class="post-title"><a href="{% url 'blog:blog_datail' post.publish|date:'Y' post.publish|date:'m' post.publish|date:'d' post.slug %}">{{ post.title }}</a></h2>
                        <div class="post-info">
                            由 <a href="{% url 'home' %}" title="Posts by admin" rel="author">{{post.author.username}}</a> 发布于
                            <a href="#" title="View all posts in Creative" rel="category tag">{{ post.Category.name }}</a>
                        </div>
                    </header>
                    <div class="entry-content">
                        {% if post.image %}
                            <div class="entry-photo">
                                <img src="/media/{{post.image}}" alt="{{post.title}}" />
                            </div>
                        {% endif %}
                        <div class="clearfix">
                            <div class="entry-data">
                                <span class="month">{{ post.publish|date:'m' }} 月</span>
                                <span class="day">{{ post.publish|date:'d' }}</span>
                                <a href="#" class="comments-link"><i class="comments-icon"></i>{{post.comments.count}}</a>               
                            </div>
                            <div class="entry-text">
                                <div><p>{{post.body|striptags|truncatewords:10}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer><a class="entry-more btn" href="{% url 'blog:blog_datail' post.publish|date:'Y' post.publish|date:'m' post.publish|date:'d' post.slug %}">阅读全文</a></footer>
                </article>
    
            {% endfor %}
            
            {% include "pagination.html" %} 
        </div>

        <div class="col230 fl-right">
            <aside id="sidebar">
                <div class="widget">
                    <h2>日志分类</h2>
                    {% get_all_categories as categories  %}
                    <ul>
                        {% for item in categories %}
                            <li><a href="{% url 'blog:blog_list'%}?cat={{item.slug}}" title="{{item.slug}}">{{item.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                {% show_latest_posts 5 %}

                <div class="widget">
                    <h2>标签云集</h2>
                    {% get_all_tags as all_tags %}
                    <div class="tagcloud">
                        {% for tag in all_tags %}
                            <a href="#" title="audio">{{tag}}</a>
                        {% endfor %}
                    </div>
                </div>

                <div class="widget">
                    <h2>Archives</h2>
                    <ul>
                        <li><a href="#">December 2013</a></li>
                        <li><a href="#">November 2013</a></li>
                    </ul>
                </div>

            </aside>
        </div>
    </div><!-- /.item-cont -->

    <div class="item-border"><span></span></div>
</section><!-- /#blog -->



{% endblock content %}