
    <div id="pageination" class="clearfix">
        <ul class="page-numbers">
            {% if posts.has_previous %}
                <li><a class="page-numbers" href="?page={{posts.previous_page_number}}">上一页</a></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if i == posts.number %}
                    <li><span class="page-numbers current">{{i}}</span></li>
                {% else %}
                    <li><a class="page-numbers" href="?page={{i}}">{{i}}</a></li>
                {% endif %}                    
            {% endfor %}
            {% if posts.has_next %}
                <li><a class="page-numbers" href="?page={{posts.next_page_number}}">下一页</a></li>
            {% endif %}                 
        </ul>
    </div>